
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    margin-left: -1250px;
}

table {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #b0aeb4;
    color: #fff;
}

input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="mobile_number"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="date"]{
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;}

input[type="zipcode"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="submit"]{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.error-message {
    color: #FF0000;
    font-size: 14px;
}
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}

button:hover {
    background-color: #555;
}
input[type="submit"]:hover{
    background-color: #555;
}

